$generalColor: #fff;
$backgroundNavigationColor: #f2990d;


/* clearfix */
.clearfix {
  &:before {
    content: "";
    display: table;
    margin: 0;
    padding: 0;
  }

  &:after {
    content: "";
    display: table;
    margin: 0;
    padding: 0;
    clear: both;
  }
}
