$generalColor: #fff;
$mainSlideArrowColor: #b19C89;
$slideBackgroundLinkColor: #337ab7;
$slideBorderLinkColor: #2e6da4;
$slideHoverBackgroundLinkColor: #286090;
$slideHoverBorderLinkColor: #204d74;
$backgroundNavigationColor: #f2990d;
$titleInfoLinksColor: #333;
$backgroundLinkReadHoverColor: #333;
$titleFooterHoverColor: #333;
$backgroundLinkReadColor: #f2990d;
$partnersSlideArrowColor: #808080;
$partnersSlideArrowHoverColor: #000;
$backgroundFooterHeadingColor: #679940;
$preFooterTitleColor: #679940;


/* clearfix */
.clearfix {
  &:before {
    content: "";
    display: table;
    margin: 0;
    padding: 0;
  }

  &:after {
    content: "";
    display: table;
    margin: 0;
    padding: 0;
    clear: both;
  }
}
